body {
  background-color: #eee8d5;
}

body {
  display: flex;
}

#editing-panel {
  display: flex;
}

#editing-pane {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}
